.column {
  border: solid black 0.5px;
  flex: 1;
}

.row {
  border: solid black 0.5px;
  display: flex;
  flex: 1;
}

.container {
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
