.column {
  border: solid red 1px;
  min-width: 6vw;
}

.row {
  border: solid red 1px;
  min-height: 6.25vh;
  display: flex;
}

.container {
  border-top: solid red 2px;
  border-bottom: solid red 2px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
